<h1>Editing Book</h1>
<%= form_with model:@book, url:"/books/#{@book.id}/edit", local:true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_field :body %>
  <div>
  <%= f.submit 'Update Book' %>

  </div>
  <%= link_to "Show", book_path(@book) %>
  |
  <%= link_to "Back", "/books" %>
<% end %>
